*{
	padding:0;
	margin:0;
}
body{
	background:rgb(245,245,245);
	/*background: green;*/
}
/*登录按钮样式*/
.qqlogo{
	border:1px solid deepskyblue;
	color:deepskyblue !important;
	background: white;
	width:100px;
	height:30px;
	margin:10px 180px;
	text-align: center;
	font-size: 15px;
	display: block;
}
.qqlogo>i,.qqlogin>i,.weibologin>i{
	margin-right:5px;
}
.reg{
	width:100%;
	background: #fff;
}
.reg>.reg-r a{
	color:#666;
	font-size: 16px;
	margin-right:25px;
}
.reg-r{
	margin-top:10px;
	margin-right:200px;
}
.reg-r>.qqlogin{
	border:1px solid deepskyblue;
	color:deepskyblue !important;
	background: white;
	width:100px;
	height:30px;
	/*margin:10px 180px;*/
	text-align: center;
	font-size: 15px;
	display: block-inline;
}
.weibologin{
	border:1px solid #ff734a;
	color:#ff734a !important;
	background: white;
	width:100px;
	height:30px;
	/*margin:10px 180px;*/
	text-align: center;
	font-size: 15px;
	display: block-inline;
}
.reg a:hover{
	text-decoration: none;
}
/*顶部登录样式结束*/
/*顶部导航栏*/
.header{
	/*margin-top: 120px;*/
	width:100%;
	height:80px;
	background:#0082df;
	overflow:hidden;
	
}
.header>.nav-left img{
	display:block;
	margin:10px 180px;
}
.header>.nav-right>ul{
	margin-right:200px;
}
.header>.nav-right ul>li{
	list-style: none;
	float:left;
	margin-right:80px;
	width:90px;
	height:80px;
	text-align: center;
	line-height: 80px;
}
.header li>a{
	font-size:20px;
	color:#fff;
}
.header>.nav-right li:hover{
	background:rgb(0, 111, 216);
}
.header>.nav-right li>a:hover{
	text-decoration: none;
}
/*顶部搜索*/
.topsearch{
	width:100%;
	height:150px;
	/*background:red;*/
}
.topsearch>.sear{
	text-align: center;
}
.topsearch>.sear>input{
	width:600px;
	height:60px;
	background:white;
	border:3px solid deepskyblue;
	text-indent: 2em;
	/*line-height: 150px;*/
	margin-top:30px;
	outline:none;
	
}

.sear>button{
	background: deepskyblue;
	width:150px;
	height:60px;
	color:white;
	outline:none;
	border:1px solid deepskyblue;
	font-size:18px;
}
.sear>button>i{
	margin-right:10px;
}
/*轮播部分*/
.banner{
	max-width:1200px;
	margin:20px auto;
	
}
/*标签部分*/
.tag-l,.tag-r{
	width:600px;
	/*height:260px;*/
	
}
.tag-l .tag-top,.tag-r .tag-top{
	border:1px solid grey;
	height:40px;
	line-height: 40px;
	color:#000;
	font-size:16px;
	text-indent: 2em;
	font-weight:bold;
}
.tag a{
	
	margin-right:5px;
	color:#6e6e6e;
}
.tag .tag-top a{
	float: right;
}
.tag-left a,.tag-right a{
	float: right;
	margin-right:5px;
	color:#000;
}
.tag a:hover{
	text-decoration: none;
}
.tag-list{
	width:100%;
	height:140px;
	border: 1px solid grey;
}
.tag-list ul li{
	list-style: none;
	float:left;
	width:15%;
	margin-top:7px;
	margin-left: 25px;
}
.tag-list ul li>a,{
	color:#6e6e6e;
	
}
/*浮动两个标签列表*/
.tag{
	float:left;
	margin:0 auto;
}
.tag-l{
	float:left;
}
.tag-r{
	float:right
}
/*给标签父级居中*/
.box{
	max-width:1300px;
	margin:0 auto;
}
.box .tag-l,.box .tag-r{
	/*box-sizing: border-box;*/
	/*margin:0 50px;*/
	margin-right: 50px;
	background:#fff;
	
}
/*瀑布流分布*/
.code .nav>.nav-left{
	float:left;
}
.code .nav>.nav-right{
	float:right;
}
.code{
	max-width:1300px;
	margin:0px auto;
}
.code .nav .nav-left,.code .nav .nav-right{
	margin-top: 30px;
}
.nav-left{
	font-size: 18px;
}
.nav-right{
	margin-right:50px;
}
.nav-right button{
	width:80px;
	height:30px;
	background:#fff;
	outline: none;
	border:1px solid #d9d9d9;
	margin-right:20px;
	line-height: 30px;
	color:#262626;
}
.nav-right button:hover{
	background:#0082df;
	color:#fff;
}
/*瀑布流展示区*/
/*瀑布流分布*/
.code .nav>.nav-left,.sign .nav>.nav-left{
	float:left;
	font-size:28px;
}
.code .nav>.nav-right,.sign .nav>.nav-right{
	float:right;
}
.code,.sign{
	max-width:1300px;
	margin:0px auto;
}
.code .nav .nav-left,.code .nav .nav-right,.sign .nav .nav-left,.sign .nav .nav-right{
	margin-top: 30px;
}
.nav-left{
	font-size: 18px;
}
.nav-right{
	margin-right:50px;
}
.nav-right button{
	width:80px;
	height:30px;
	background:#fff;
	outline: none;
	border:1px solid #d9d9d9;
	margin-right:20px;
	line-height: 30px;
	color:#262626;
}
.nav-right button:hover{
	background:#0082df;
	color:#fff;
}
/*瀑布流区域*/
.code .pic,.sign .pic{
width:1400px;
margin:20px auto;
overflow:hidden;
}
.code .pic ul>li,.sign .pic ul>li{
list-style: none;
background:#fff;
margin:20px 0px;
box-sizing: border-box;
/*padding:0 20px;*/
margin-left: 10px;

}
.pic ul{
float:left;
width:280px;
}
.pic ul>li p{
width:280px;
text-align:center;
margin:10px 0;
/*background:red;*/
}
.pic ul>li p i{
margin-right:20px;
}
.pic ul>li p .u-r{
float:right;
}
/*底部友情链接*/
.links,.links a{
	margin:10px auto;
	max-width:1200px;
	/*background: greenyellow;*/
	height:200px;
	color:rgb(104, 104, 104);
	text-decoration: none;
}

.links .linktop a{
	font-size: 20px;
	margin:5px 20px 5px 0;
}
.linklist{
	margin-top: 30px;
}
.links .linklist a{
	font-size: 18px;
	/*display:block;*/
	/*width:5%;*/
	margin:10px 10px 10px 0;
	
}
/*底部版权*/
.footer,.footer a{
	width:100%;
	background:rgb(22, 142, 225);
	height:80px;
	color:#fff;
	font-size:18px;
	text-decoration: none;
	
}
.footer a{
	margin:0 20px;
}
.footer .box{
	width:1200px;
	line-height: 80px;
	
}
/*顶部固定导航和搜索*/
.fnav{
	position:fixed;
	top:0;
	width:100%;
	height:120px;
	background:red ;
}
.fnav .nav{
	height:50px;
	background:#3f4657;
	
}
.fnav .nav .navl{
	float:left;
	margin-left:180px;
}
.fnav .nav .navl li{
	float:left;
	list-style: none;
	width:100px;
	height:50px;
	line-height:50px;
	font-size:15px;
	/*background-color:#00BFFF!important;*/
	/*margin-right: 20px;*/
	text-align: center;
}
.fnav .nav .navl li:hover{
	background:#569fe8;
}
.fnav .nav .navl li a{
	text-decoration: none;
	color:#fff;
}
.fnav .nav .navr {
	float:right;
	margin-right:80px;
	
}
.nav>.navr li{
	float:left;
	list-style: none;
	/*line-height: 50px;*/
}
.nav>.navr li button{
	/*line-height: 50px;*/
	width:60px;
	height:30px;
	background:#569fe8;
	outline:none;
	border:0;
	margin-left:20px;
	color:#fff;
	font-size:15px;
	margin-top:10px;
	border-radius:3px;
}
.fnav .sear{
	width:100%;
	height:70px;
	background:#fff;
	float:left;
	margin-top: -10px;

}
.fnav .sear .search{
	margin:20px auto;
}
.fnav .sear img{
	margin:18px 180px;
	float:left;
}
.fnav .sear .search input{
	width:500px;
	height:30px;
	outline:none;
	border:1px solid #569fe8;
	text-indent:2em;
}
.fnav .sear .search button{
	width:100px;
	height:30px;
	background:#569fe8;
	border:1px solid #569fe8;
	outline:none;
	margin:0 0 0 -10px;
	color:#fff;
}
.fnav>.sear>.search>button>.fa{
	/*margin-left:-18px;*/
	margin-right:18px;
}

